{% extends 'nav_common.html' %}
{% load static %}
{% block page_head %}
    {{ block.super }}
{#     <link rel="stylesheet" href="{% static 'common/css/csdn_feed.css' %}">#}

{% endblock %}
{% block page_content %}
    <div class="container1 clearfix">
                <nav id="nav" class="clearfix">
                    <div class="clearfix">
                        <div class="nav_com">
                            <ul>
                                <li class="active"><a href="/">推荐</a></li>
                                <li class=""><a href="/nav/newarticles">最新文章</a></li>
                                <li class=""><a href="/nav/watchers">关注</a></li>
                                <li class=""><a href="/nav/news">资讯</a></li>
                                <li class=""><a href="/nav/ai">人工智能</a></li>
                                <li class=""><a href="/nav/cloud">云计算/大数据</a></li>
                                <li class=""><a href="/nav/blockchain">区块链</a></li>
                                <li class=""><a href="/nav/db">数据库</a></li>
                                <li class=""><a href="/nav/career">程序人生</a></li>
                                <li class=""><a href="/nav/game">游戏开发</a></li>
                                <li class=""><a href="/nav/engineering">研发管理</a></li>
                                <li class=""><a href="/nav/web">前端</a></li>
                                <li class=""><a href="/nav/mobile">移动开发</a></li>
                                <li class=""><a href="/nav/iot">物联网</a></li>
                                <li class=""><a href="/nav/ops">运维</a></li>
                                <li class=""><a href="/nav/fund">计算机基础</a></li>
                                <li class=""><a href="/nav/lang">编程语言</a></li>
                                <li class=""><a href="/nav/arch">架构</a></li>
                                <li class=""><a href="/nav/avi">音视频开发</a></li>
                                <li class=""><a href="/nav/sec">安全</a></li>
                                <li class=""><a href="/nav/other">其他</a></li>
                            </ul>

                        </div>
                    </div>
                </nav>
                <!--头部banner广告 begin-->
                <div class="fixed_content">

                    <div class="banner-ad-box">
                        <div class="J_adv" data-view="true" data-mod="ad_popu_281" data-mtp="2" data-order="870" data-con="ad_content_4035" style="width: 760px; height: 90px;">
                            <div style="line-height:0px;">
                                <a target="_blank" href="#">
                                    <img width="760" height="90" src="../static/img/201807061754102068.jpg">
                                </a>
                                <div style="left: 0px; width: 26px; background: transparent url(&quot;../static/img/201608021757063065.png&quot;) no-repeat scroll right top; height: 16px;z-index: 12; position: relative; bottom: 16px;">
                                </div>
                            </div>
                        </div>
                        <div class="J_adv" data-view="true" data-mod="ad_popu_282" data-mtp="2" data-order="719" data-con="ad_content_3743" style="width: 300px; height: 90px;">
                            <div style="line-height:0px;">
                                <a target="_blank" href="#">
                                    <img width="300" height="90" src="../static/img/201807231104486342.jpg">
                                </a>
                                <div style="left: 0px; width: 26px; background: transparent url(&quot;../static/img/201608021757063065.png&quot;) no-repeat scroll right top; height: 16px;z-index: 12; position: relative; bottom: 16px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--头部banner广告 end-->
                <main>
                    <div class="carousel">
                        <div class="carousel-left">
                            <div id="myCarousel" class="slide" data-ride="carousel">
                            <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">

                                    <div class="carousel-item csdn-tracking-statistics" data-mod="popu_465" data-dsm="post">
                                        <a href="https://blog.csdn.net/csdnnews/article/details/81230546" target="_blank">
                                            <img src="https://csdnimg.cn/feed/20180727/6b694b99c1ad6402d849f2534a7d8c69.jpg">
                                        </a>
                                        <a href="https://blog.csdn.net/csdnnews/article/details/81230546" target="_blank">
                                            <div class="carousel-caption">老是原罪？技术圈为何不待见大龄企业家
                                            </div>
                                        </a>
                                        <a href="https://blog.csdn.net/csdnnews/article/details/81230546" target="_blank" style="display:block;">
                                            <div class="cover"></div>
                                        </a>
                                    </div>

                                    <div class="carousel-item csdn-tracking-statistics" data-mod="popu_465" data-dsm="post">
                                        <a href="https://blog.csdn.net/dqcfkyqdxym3f8rb0/article/details/81230528" target="_blank">
                                            <img src="https://csdnimg.cn/feed/20180727/18bf8ec5b3cce09d09b8e482667d6269.png">
                                        </a>
                                        <a href="https://blog.csdn.net/dqcfkyqdxym3f8rb0/article/details/81230528" target="_blank">
                                            <div class="carousel-caption">
                                                微软为华为定制了一个“烂笔头小冰”，让人想起了老罗的“闪念胶囊”                </div>
                                        </a>
                                        <a href="https://blog.csdn.net/dqcfkyqdxym3f8rb0/article/details/81230528" target="_blank" style="display:block;">
                                            <div class="cover"></div>
                                        </a>
                                    </div>

                                    <div class="carousel-item csdn-tracking-statistics" data-mod="popu_465" data-dsm="post">
                                        <a href="https://blog.csdn.net/csdnnews/article/details/81213227" target="_blank">
                                            <img src="https://csdnimg.cn/feed/20180726/1ec591f3174392be5adeeb055747af27.jpg">
                                        </a>
                                        <a href="https://blog.csdn.net/csdnnews/article/details/81213227" target="_blank">
                                            <div class="carousel-caption">
                                                微软：程序员们，是时候丢掉 Win 7 了！              </div>
                                        </a>
                                        <a href="https://blog.csdn.net/csdnnews/article/details/81213227" target="_blank" style="display:block;">
                                            <div class="cover"></div>
                                        </a>
                                    </div>

                                    <div class="carousel-item csdn-tracking-statistics" data-mod="popu_465" data-dsm="post">
                                        <a href="https://blog.csdn.net/dqcfkyqdxym3f8rb0/article/details/81212490" target="_blank">
                                            <img src="https://csdnimg.cn/feed/20180726/b87c1e7425eb4bc91eda6ae1ca0c304a.jpg">
                                        </a>
                                        <a href="https://blog.csdn.net/dqcfkyqdxym3f8rb0/article/details/81212490" target="_blank">
                                            <div class="carousel-caption">
                                                上线三年却很“鸡肋”的微信声音锁究竟做错了什么？                </div>
                                        </a>
                                        <a href="https://blog.csdn.net/dqcfkyqdxym3f8rb0/article/details/81212490" target="_blank" style="display:block;">
                                            <div class="cover"></div>
                                        </a>
                                    </div>

                                    <div class="carousel-item csdn-tracking-statistics active" data-mod="popu_465" data-dsm="post">
                                        <a href="https://blog.csdn.net/csdnsevenn/article/details/81212458" target="_blank">
                                            <img src="https://csdnimg.cn/feed/20180726/93889a516a0fa42e4bc30c32cb585d3c.png">
                                        </a>
                                        <a href="https://blog.csdn.net/csdnsevenn/article/details/81212458" target="_blank">
                                            <div class="carousel-caption">
                                                等重构完这系统，我就辞职                </div>
                                        </a>
                                        <a href="https://blog.csdn.net/csdnsevenn/article/details/81212458" target="_blank" style="display:block;">
                                            <div class="cover"></div>
                                        </a>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon" aria-hidden="true">
                                        <svg viewBox="0 0 19 30">
                                            <path d="M18,5L7,16l11,11l-3,3L1,16L15,2L18,5z"></path>
                                        </svg>
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon" aria-hidden="true">
                                        <svg viewBox="0 0 19 30">
                                            <path d="M4,1l14,14L4,29l-3-3l11-11L1,4L4,1z"></path>
                                        </svg>
                                    </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div><!-- /.carousel -->
                        </div>
                        <div class="carousel-right">
                            <div class="carousel-right-u csdn-tracking-statistics" data-mod="popu_616" data-dsm="post">
                                <a href="https://edu.csdn.net/huiyiCourse/detail/833" target="_blank">
                                    <img src="https://csdnimg.cn/feed/20180727/fdcf035414fe023a13ac4fcc7f2014dd.jpg">
                                </a>
                                <a href="https://edu.csdn.net/huiyiCourse/detail/833" target="_blank">
                                <p class="carousel-right-caption">
                                            <span>入门知识图谱，你首先需要了解这些内容</span>
                                        </p>
                                </a>
                                <a href="https://edu.csdn.net/huiyiCourse/detail/833" target="_blank" style="display:block;">
                                    <div class="cover"></div>
                                </a>
                            </div>
                            <div class="carousel-right-u csdn-tracking-statistics" data-mod="popu_616" data-dsm="post">
                                <a href="https://blog.csdn.net/csdnnews/article/details/81230540" target="_blank">
                                    <img src="https://csdnimg.cn/feed/20180727/d4de65ac687a3e11fe12d64adffe47f7.png">
                                </a>
                                <a href="https://blog.csdn.net/csdnnews/article/details/81230540" target="_blank">
                                <p class="carousel-right-caption">
                                            <span>Java 工程师薪资不如 C、博士热度不如硕士，哪类程序员最受企业欢迎？</span>
                                        </p>
                                </a>
                                <a href="https://blog.csdn.net/csdnnews/article/details/81230540" target="_blank" style="display:block;">
                                    <div class="cover"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
{% endblock %}