{% extends 'nav_common.html' %}
{% load static from staticfiles %}

{% block page_title %}
    帖子详情
{% endblock %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'post/css/post_detail.css' %}">
{% endblock %}

{% block page_content %}
    <div id="top_ad"><img src="{% static 'common/image/bg-title.png' %}"></div>
    <div id="left_button"></div>
    <div id="mid_content">
        <div id="head">
            <p>{{ post.title }}</p>
            <p>
                <span>{{ post.timestamp }}</span>
                <span class="pull-right">阅读数：{{ post.view_count }}</span>
            </p>
        </div>
        <div id="content">
            {{ post.cont_html }}
        </div>
    </div>
    <div id="right_content"></div>

{% endblock %}