{% extends 'nav_common.html' %}
{% load static from staticfiles %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'common/css/post_detail.css' %}">
{% endblock %}


{% block page_content %}

    <div class="container">
        <div class="post-show">
            文章
        </div>
    </div>

    <div class="left-btn">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="post-title">
    标题
    </div>
    <div class="pulllog-box">
        <div class="pulllog clearfix">
            <button class="pulllog-login float-left"></button>
            <button class="pulllog-sigin float-left"></button>
        </div>
    </div>
{% endblock %}


{% block page_script %}
    <link rel="stylesheet" href="{% static 'common/js/post_detail.js' %}">
{% endblock %}
